@model IEnumerable<DAL.Entities.Characteristic>

@{
    ViewData["Title"] = "Characteristics";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitType)
                </td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@item.Id">Докладніше</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Products" asp-action="Edit" asp-route-id="@ViewBag.ProductId">Повернутися до товару</a>
</p>
